
/* Vid tiles */
#content-container[data-page=home] #search_results {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
body[data-mobile=false] #content-container[data-page=home] #search_results {
    padding: 20px;
    padding-top: 5px;
}
#content-container[data-page=home] .vid_tile {
    display: flex;
    flex-direction: column;
}
#content-container[data-page=home] .vid_tile img {
    width: 100%;
    /* In reality vid tiles will never exceed this size, because it'd make room for another */
    max-width: 640px;
}

/* Stats */
.stats_div {
    display: flex;
    border-top: 2px solid var(--divider-color);
    border-bottom: 2px solid var(--divider-color);
}
.stat_div {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

    /* border: 2px solid var(--divider-color);
    border-radius: 10px;
    margin: 0 5px; */
}
.stat_num {
    font-size: 1.5em;
    font-weight: bold;
}
.stat_text {
    font-size: 1.2em;
    font-weight: bold;
}
