html {
  /* --player-color: red; */
  --player-color: #f1f1f1;
  --controls-delay: 200ms;
  --fade_duration: 150ms;
}

/* Responsive to mobile */
body[data-mobile=true] .volume-container {
  display: none;
}
/* Responsive to mobile landscape, data-mobile=true and data-landscape=true */
/* body[data-mobile=true][data-landscape=true] .video-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999999999999;
  width: 100vw;
  height: 100vh;
} */
body[data-mobile=true] .video-container {
  width: 100vw;
}
body[data-mobile=true] .thumbnail-img,
body[data-mobile=true] video,
body[data-mobile=true] .video-controls-container::before {
  border-radius: 0;
}


*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .video-container {
    position: relative;
    /* width: 90%; */
    flex: 1;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    /* background-color: black; */
  }
  
  .video-container.theater,
  .video-container.full-screen {
    max-width: initial;
    width: 100%;
  }
  
  .video-container.theater {
    max-height: 90vh;
  }
  
  .video-container.full-screen {
    max-height: 100vh;
  }
  
  .video-wrapper {
    width: 100%;
    filter: brightness(1);
    /* We use fade-duration here because it goes along with the controls fading */
    transition: filter var(--fade_duration) ease-in-out;
    transition-delay: var(--controls-delay);
  }
  video {
    width: 100%;
    max-height: 100vh;
    border-radius: 10px;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
  
  .video-controls-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--fade_duration) ease-in-out, visibility var(--fade_duration) ease-in-out;
  }
  .video-container .big-play-pause-btn,
  body[data-tablet=true] .video-controls-container,
  body[data-mobile=true] .video-controls-container {
    /* We delay on mobile for the double tap (not necessary, but aesthetic) */
    transition-delay: var(--controls-delay)!important;
  }
  
  body[data-mobile=false][data-tablet=false] .video-controls-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, .75), transparent);
    width: 100%;
    aspect-ratio: 6 / 1;
    z-index: -1;
    pointer-events: none;
    border-radius: 10px;
  }
  
  body[data-mobile=false][data-tablet=false] .video-container:hover .video-controls-container,
  /* .video-container:focus-within .video-controls-container, */
  body[data-mobile=false][data-tablet=false] .video-container.paused .video-controls-container,
  .video-container.controls-active .video-controls-container {
    opacity: 1;
    visibility: visible;
  }
  body[data-tablet=true] .video-container.controls-active .thumbnail-img,
  body[data-tablet=true] .video-container.controls-active .video-wrapper,
  body[data-mobile=true] .video-container.controls-active .thumbnail-img,
  body[data-mobile=true] .video-container.controls-active .video-wrapper {
    filter: brightness(0.5);
  }
  
  .video-controls-container .controls {
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
    align-items: center;
    height: 40px;
  }
  
  .video-container button {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    height: 40px;
    width: 40px;
    font-size: 1.1rem;
    cursor: pointer;
    opacity: .85;
    transition: opacity 150ms ease-in-out;
  }
  .video-controls-container .controls button svg {
    max-width: 30px;
    max-height: 30px;
  }

  body[data-tablet=true] .video-container .small-play-pause-btn,
  body[data-mobile=true] .video-container .small-play-pause-btn {
    display: none;
  }
  .video-container .big-play-pause-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 100px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--fade_duration) ease-in-out, visibility var(--fade_duration) ease-in-out;
  }
  body[data-tablet=true] .video-container.controls-active .big-play-pause-btn,
  body[data-mobile=true] .video-container.controls-active .big-play-pause-btn {
    opacity: 0.85;
    visibility: visible;
  }
  
  body.blue-filter .icon-glasses,
  .icon-sunglasses {
    display: none;
  }
  .icon-glasses,
  body.blue-filter .icon-sunglasses {
    display: block;
  }
  body[data-mobile=false][data-tablet=false] .loop-btn,
  .loop-btn.active .icon-loop,
  .icon-loop-active {
    display: none;
  }
  .icon-loop,
  .loop-btn.active .icon-loop-active {
    display: block;
  }
  
  
  .video-controls-container .controls button:hover {
    opacity: 1;
  }
  
  .video-container button:focus {
    outline: none;
  }
  
  .video-container.paused .pause-icon {
    display: none;
  }
  
  .video-container:not(.paused) .play-icon {
    display: none;
  }
  
  .video-container.theater .tall {
    display: none;
  }
  
  .video-container:not(.theater) .wide {
    display: none;
  }

  .video-container.fake-full-screen .open,
  .video-container.full-screen .open {
    display: none;
  }
  
  .video-container:not(.full-screen):not(.fake-full-screen) .close_ {
    display: none;
  }

  .video-container .mute-btn, .video-container .brightness-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .video-container .mute-btn svg, .video-container .brightness-btn svg {
    width: 24px;
  }
  
  .volume-high-icon,
  .volume-low-icon,
  .volume-muted-icon {
    display: none;
  }  
  .brightness-high-icon,
  .brightness-low-icon,
  .brightness-muted-icon {
    display: none;
  }
  
  .video-container[data-volume-level="high"] .volume-high-icon {
    display: block;
  }
  .video-container[data-brightness-level="high"] .brightness-high-icon {
    display: block;
  }
  
  .video-container[data-volume-level="low"] .volume-low-icon {
    display: block;
  }
  .video-container[data-brightness-level="low"] .brightness-low-icon {
    display: block;
  }
  
  .video-container[data-volume-level="muted"] .volume-muted-icon {
    display: block;
  }
  .video-container[data-brightness-level="muted"] .brightness-muted-icon {
    display: block;
  }
  
  .control-container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .video-container .slider {
    /* height: 100%; */
    height: 40px;
    /* Under 13px the slider thumb jumps up in Firefox for some goddamn reason */
    width: 13px;
    transform-origin: left;
    transform: scaleX(0);
    transition: width 200ms ease-in-out, transform 200ms ease-in-out;

    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
  }
  body[data-tablet=true] .control-container,
  body[data-mobile=true] .control-container {
    flex: 1;
  }
  body[data-tablet=true] .video-container .slider,
  body[data-mobile=true] .video-container .slider {
    flex: 1;
    max-width: 150px;
    /* margin-left: 10px; */
    transform: scaleX(1);
  }
  
  body[data-mobile=false][data-tablet=false] .control-container:hover .slider,
  body[data-mobile=false][data-tablet=false] .video-container .slider:focus-within {
    width: 100px;
    /* margin-left: 10px; */
    transform: scaleX(1);
  }

  /* https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/ */
  /***** Chrome, Safari, Opera, and Edge Chromium *****/
  .video-container .slider::-webkit-slider-runnable-track {
  background: var(--dark-theme-disabled-color);
  height: 0.2rem;
  transform: translateY(30%);
  border-radius: 5px;
}

/******** Firefox ********/
.video-container .slider::-moz-range-track {
  background: var(--dark-theme-disabled-color);
  height: 0.2rem;
  transform: translateY(30%);
  border-radius: 5px;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
.video-container .slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  /* Center thumb on track */
  transform: translateY(-40%);
  background-color: white;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 5rem;
}

/***** Firefox *****/
.video-container .slider::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 5rem; /*Removes default border-radius that FF applies*/
  /* In Firefox it's already in the middle, 
  but for some reason this is necessary to keep the thumb in front of the slider */
  transform: translateY(0%); 
  background-color: white;
  height: 0.8rem;
  width: 0.8rem;
}

  
  .duration-container {
    display: flex;
    align-items: center;
    gap: .25rem;
    /* flex-grow: 1; */
    font-size: 0.8em;
  }
  
  .video-container.captions .captions-btn {
    border-bottom: 3px solid var(--player-color);
  }
  
  .video-controls-container .controls button.wide-btn {
    width: 50px;
  }
  
  .timeline-container {
    height: 7px;
    margin-inline: .5rem;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
  }
  body[data-tablet=true] .timeline-container,
  body[data-mobile=true] .timeline-container {
    height: 20px;
  }
  
  .timeline {
    background-color: rgba(100, 100, 100, .5);
    height: 3px;
    width: 100%;
    position: relative
  }
  
  .timeline::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--preview-position) * 100%);
    background-color: rgb(150, 150, 150);
    display: none;
  }
  
  .timeline::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--progress-position) * 100%);
    background-color: var(--player-color);
  }
  
  .timeline .thumb-indicator {
    --scale: 0;
    position: absolute;
    transform: translateX(-50%) scale(var(--scale));
    height: 200%;
    top: -50%;
    left: calc(var(--progress-position) * 100%);
    background-color: var(--player-color);
    border-radius: 50%;
    transition: transform 150ms ease-in-out;
    aspect-ratio: 1 / 1;
  }
  
  .timeline .preview-img {
    position: absolute;
    height: 80px;
    aspect-ratio: 16 / 9;
    top: -1rem;
    transform: translate(-50%, -100%);
    left: calc(var(--preview-position) * 100%);
    border-radius: .25rem;
    border: 2px solid white;
    display: none;
  }
  
  .thumbnail-wrapper {
    display: none;
    position: absolute;
    top: 0;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    aspect-ratio: 16 / 9;
    pointer-events: none;
  }
  .thumbnail-img {
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  /* When video element has a src, make thumbnail display none */
  .video-container.src-loaded video {
    background-image: none!important;
  }

  .video-container.src-loading .spinner {
    display: block;
  }
  /* .video-container.src-loading .video-controls-container, */
  .video-container.src-loading .big-play-pause-btn,
  .video-container.src-loaded .spinner {
    visibility: hidden;
  }
  
  /* .video-container.scrubbing .thumbnail-img {
    display: block;
  } */
  
  .video-container.scrubbing .preview-img,
  .timeline-container:hover .preview-img {
    display: block;
  }
  
  .video-container.scrubbing .timeline::before,
  .timeline-container:hover .timeline::before {
    display: block;
  }
  
  .video-container.scrubbing .thumb-indicator,
  .timeline-container:hover .thumb-indicator {
    --scale: 1;
  }
  
  .video-container.scrubbing .timeline,
  .timeline-container:hover .timeline {
    height: 7px;
  }


  /* Skip overlays */
  .skip-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    color: white;
    width: 35vw;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    transition: opacity 150ms ease-in-out, visibility 150ms ease-in-out;
  }
  .skip-back {
    left: 0;
    border-radius: 0 100% 100% 0;
  }
  .skip-forward {
    right: 0;
    border-radius: 100% 0 0 100%;
  }

  .skip-back .icon {
    transform: rotate(180deg);
  }
  .skip-back .flex-container {
    /* This is important for the animation */
    flex-direction: row-reverse;
  }

  .skip-overlay.active {
    opacity: 1;
  }

  /* There are three icons in both .skip-overlay elements. 
  When activated, we want to transition such that each icon becomes visible one after the other, using a delay. */
  @keyframes skip-animation {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .skip-overlay .icon {
    opacity: 0;
  }
  .skip-overlay.active .icon {
    animation: skip-animation 500ms ease-in-out;
  }
  .skip-overlay .icon:nth-child(1) {
    animation-delay: 0ms;
  }
  .skip-overlay .icon:nth-child(2) {
    animation-delay: 100ms;
  }
  .skip-overlay .icon:nth-child(3) {
    animation-delay: 200ms;
  }



.video-container button {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 100%;
}
.video-container button.clicked {
  animation: whitePulse 250ms ease-in-out;
}

@keyframes whitePulse {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.3);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}


/* Full screen button */
/* .video-container .full-screen-btn {
  transition: transform 150ms ease-in-out;
}
.video-container .full-screen-btn:hover {
  transform: scale(1.1);
} */


/* iOS fullscreen button */
body[data-mobile=true] .video-container .flex-container {
  gap: 0;
}
.video-container .full-screen-ios-btn {
  display: none;
}
body[data-mobile=true][data-iOS=true] .video-container:not(.fake-full-screen).src-loaded .full-screen-ios-btn {
  display: block;
}

/* Fake Fullscreen for iOS */
.video-container.fake-full-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999999999999;
  width: 100vw;
  background-color: black;
}



/* Miniplayer (Picture in Picture) */
body.pip .video-wrapper {
  position: fixed;
  width: 35vw;
  max-width: 200px;
  aspect-ratio: 3/1;
  bottom: 0;
  left: 0;
  z-index: 1;
}
body.pip video {
  border-radius: 0;
  object-fit: cover;
}

