.privacy_div {
    /* position: fixed;
    bottom: 50%;
    left: 50%;
    z-index: 10000000;
    transform: translate(-50%, 50%);
    width: min(800px, 90vw);
    max-height: 90vh;
    overflow-y: scroll;
    scrollbar-width: thin; */
    border-radius: 10px;
    background-color: var(--divider-color);
    color: var(--text-primary-color);
    padding: 20px;
    /* margin order: top, right, bottom, left */
    margin: 3% 10% 3% 10%;
}
.privacy_div p {
    margin: 20px;
}