
/* Colors */
html {
    --error-color: #dd2c00;
    /* --primary-color: #3f51b5; */
    --primary-color: #ffeb3b;
    --light-primary-color: #c5cae9;
    --dark-primary-color: #303f9f;
    --accent-color: #ff4081;
    --light-accent-color: #ff80ab;
    --dark-accent-color: #f50057;
    /* --dark-theme-background-color: #212121; */
    --dark-theme-background-color: #0f0f0f;
    --dark-theme-base-color: #fff;
    --dark-theme-text-color: #fff;
    --dark-theme-secondary-color: #bcbcbc;
    --dark-theme-disabled-color: #646464;
    /* --dark-theme-divider-color: #3c3c3c; */
    --dark-theme-divider-color: #212121;
    --text-primary-color: var(--dark-theme-text-color);
    --default-primary-color: var(--primary-color);
}

body {
    background-color: var(--dark-theme-background-color);
    color: var(--dark-theme-text-color);
}
/* Don't apply filters to the body itself; it messed up fixed positioning */
body.blue-filter > *, body.blue-filter .video-container.full-screen {
    /* filter: sepia(0.6); */
    filter: sepia(.8) saturate(1.5) brightness(.8) hue-rotate(330deg);
}
/* General */
a:not(.btn) {
    color: #007bff!important;
    cursor: pointer;
}
a:not(.btn):hover {
    color: #0056b3!important;
    text-decoration: underline!important;
}
.spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 2s ease-in-out infinite;
    pointer-events: none;
    z-index: 100;
}
.spinner img {
    width: 100px;
    height: 100px;
}
@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(1440deg);
    }
}
.flex {
    display: flex;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1em;
}
.flex-grow {
    flex-grow: 1;
}
.basic_div {
    padding: 20px;
}
.basic_div.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.overlay_background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}
.overlay {
    position: fixed;
    bottom: 50%;
    left: 50%;
    z-index: 10000000;
    transform: translate(-50%, 50%);
    background-color: var(--dark-theme-background-color);
    color: var(--dark-theme-text-color);
    border-radius: 10px;
    padding: 20px;
    width: 470px;
    max-width: 90vw;
    overflow: auto;
}
.overlay_close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.message_overlay {
    background-color: white;
    color: black;
    bottom: -100px;
    /* animation: slideUpAndAway 2s ease-in-out forwards; */
}

@keyframes slideUpAndAway {
    0% {
        bottom: -100px;
    }
    20% {
        bottom: 10%;
    }
    80% {
        bottom: 10%;
    }
    100% {
        bottom: -100px;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


.full_width {
    width: 100%!important;
}


input[type=text] {
    background-color: var(--dark-theme-background-color);
    color: var(--dark-theme-text-color);
    border: 1px solid var(--dark-theme-divider-color);
    border-radius: 5px;
    padding: 5px;
}
.time_input {
    width: 40px;
    background-color: transparent!important;
    border: none!important;
    border-bottom: 1px solid white!important;
    border-radius: 0px!important;
    padding: 0!important;
}
/* This isn't working for some reason */
.time_input:focus {
    background-color: transparent!important;
    border: none!important;
    border-bottom: 1px solid var(--primary-color)!important;
    border-radius: 0px!important;
    padding: 0!important;
}
.wide_input {
    width: 100%;
}


/* Buttons */
.btn {
    background-color: var(--dark-theme-divider-color);
    color: var(--dark-theme-text-color);
    border: 1px solid var(--dark-theme-divider-color);
    display: flex;
    align-items: center;
}
.btn:hover {
    background-color: var(--dark-theme-disabled-color);
    color: var(--dark-theme-text-color);
    border: 1px solid var(--dark-theme-divider-color);
}
.btn div {
    margin: 0 10px;
}
.icon {
    width: 20px;
    height: 20px;
    fill: var(--dark-theme-text-color);
}
.clickable_icon {
    display: flex;
    cursor: pointer;
}
.clickable_icon.wide {
    padding: 10px;
}
.clickable_icon:hover {
    filter: brightness(0.5);
}
.rounded-left {
    border-top-left-radius: 5rem!important;
    border-bottom-left-radius: 5rem!important;
}
.rounded-right {
    border-top-right-radius: 5rem!important;
    border-bottom-right-radius: 5rem!important;
}
.rounded {
    border-radius: 5rem!important;
}
/* Video Tiles */
.vid_tile {
    cursor: pointer;
}
/* Navbar */
.navbar {
    background-color: var(--dark-theme-background-color);
}
/* Search bar */
#search_bar {
    display: flex;
    width: 45vw;
}
#search-input {
    flex: 1;
    height:40px;
    line-height:40px;
    padding:0 20px;
}
#search-btn {
    width: 50px;
}
.form-control {
    background-color: var(--dark-theme-background-color);
    color: var(--dark-theme-secondary-color);
    border: 1px solid var(--dark-theme-divider-color);
}
.form-control:focus {
    background-color: var(--dark-theme-background-color);
    color: var(--dark-theme-text-color);
    border: 1px solid var(--primary-color);
    box-shadow: none;
}
/* Search input cross icon */
.form-control::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23fff'%3E%3Cpath d='M19.78 18.36l-5.79-5.79 5.79-5.79c.39-.39.39-1.02 0-1.41l-.01-.01a.996.996 0 0 0-1.41 0l-5.79 5.79-5.79-5.79a.996.996 0 0 0-1.41 0l-.01.01c-.39.39-.39 1.02 0 1.41l5.79 5.79-5.79 5.79c-.39.39-.39 1.02 0 1.41l.01.01c.39.39 1.02.39 1.41 0l5.79-5.79 5.79 5.79c.39.39 1.02.39 1.41 0l.01-.01c.39-.39.39-1.02 0-1.41z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    opacity: 0.5;
}
.form-control:focus::-webkit-search-cancel-button {
    opacity: 1;
}
#search_open_btn, 
#search_close_btn {
    display: none;
}
/* Responsive: under 600px width the search bar should disappear */
@media screen and (max-width: 600px) {
    #search_bar {
        display: none;
    }
    #search_open_btn {
        display: block;
    }
    #navbar[data-mode=search] #logo_text, 
    #navbar[data-mode=search] #search_open_btn, 
    #navbar[data-mode=search] #tip_btn {
        display: none;
    }
    #navbar[data-mode=search] #search_close_btn {
        display: block;
    } 
    #navbar[data-mode=search] #search_bar {
        display: flex;
        flex: 1;
    }
}

body[data-mobile=true][data-landscape=true][data-ios=false] #navbar {
    display: none;
}
body[data-mobile=true] #navbar {
    padding: 0.2rem 1rem;
}