
/* Colors */
:root {
    --link-color: #007bff;
    --link-hover-color: #0056b3;
    --error-color: #dd2c00;
    /* --primary-color: #3f51b5; */
    --light-primary-color: #ffcd4e;
    --primary-color: #ffba12;
    /* --light-primary-color: #c5cae9; */
    /* --dark-primary-color: #303f9f; */
    --dark-primary-color: rgb(179, 132, 14);
    --accent-color: #ff4081;
    --light-accent-color: #ff80ab;
    --dark-accent-color: #f50057;
    /* --dark-theme-background-color: #212121; */
    --dark-theme-background-color: #0f0f0f;
    --dark-theme-base-color: #fff;
    --dark-theme-text-color: #fff;
    --dark-theme-secondary-color: #bcbcbc;
    /* --dark-theme-secondary-color: #646464; */
    /* --dark-theme-disabled-color: #646464; */
    --dark-theme-disabled-color: #3c3c3c;
    /* --dark-theme-divider-color: #3c3c3c; */
    --dark-theme-divider-color: #212121;
    --text-primary-color: var(--dark-theme-text-color);
    --default-primary-color: var(--primary-color);

    -webkit-tap-highlight-color: #00000000;
}
body {
    --pip-player-height: 50px;
    --header-height: 55px;
}
body[data-mobile=false] {
    --pip-player-height: 65px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    /* Bootstrap stuff */
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;

    background-color: var(--dark-theme-background-color);
    color: var(--dark-theme-text-color);
    overflow-x: hidden;
}
main {
    min-height: 100vh;
    width: 100vw;
    padding-top: var(--header-height);
}
/* Navbar */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    background-color: var(--dark-theme-background-color);
    height: var(--header-height);
}
/* Space for scrollbar */
/* body[data-mobile=false] header {
    padding-right: 10px;
} */
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 1rem;
}
/* Footer */
footer {
    margin-top: 20px;
    padding: 20px;
    padding-bottom: var(--pip-player-height);
    background-color: var(--dark-theme-divider-color);
    color: var(--dark-theme-secondary-color);
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, max(50%, 200px));
}

/* Don't apply filters to the body itself; it messed up fixed positioning */
body.blue-filter > *,
body.pip.blue-filter .video-wrapper,
body.pip.blue-filter .pip-player-controls,
body.blue-filter .video-container.full-screen {
    /* filter: sepia(0.6); */
    filter: sepia(.8) saturate(1.5) brightness(.8) hue-rotate(330deg)!important;
}
body.pip.blue-filter #watch_overlay {
    /* This is necessary because filters mess up fixed positioned elements */
    filter: unset!important;
}
/* General */
a:not(.btn) {
    color: var(--primary-color);
    cursor: pointer;
}
a:not(.btn):hover {
    color: var(--dark-primary-color);
}
a.bordered {
    border: 1px solid;
    border-radius: 5rem;
    padding: 0 5px 3px 5px;
}
.spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 2s ease-in-out infinite;
    pointer-events: none;
    z-index: 100;
    background-color: #00000055;
    border-radius: 100%;
}
.spinner.active {
    display: block;
}
.spinner img {
    width: 100px;
    height: 100px;
}
@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(1440deg);
    }
}
.flex {
    display: flex;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
}
.flex-container.even {
    justify-content: space-evenly;
}
.flex-grow {
    flex-grow: 1;
}
.basic_div {
    padding: 20px;
}
.basic_div.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text_div {
    background-color: var(--dark-theme-divider-color);
}
.text_div.center {
    text-align: center;
}
.overlay_background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}
.overlay {
    position: fixed;
    bottom: 50%;
    left: 50%;
    z-index: 10000000;
    transform: translate(-50%, 50%);
    background-color: var(--dark-theme-background-color);
    color: var(--dark-theme-text-color);
    border-radius: 10px;
    padding: 20px;
    width: 470px;
    max-width: 90vw;
    overflow: auto;
}
.overlay_close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 100;
}
.message_overlay {
    background-color: white;
    color: black;
    bottom: 0;
    transform: translate(-50%, 100%);
    /* animation: slideUpAndAway 2s ease-in-out forwards; */
}

@keyframes slideUpAndAway {
    0% {
        bottom: 0;
        transform: translate(-50%, 100%);
    }
    20% {
        bottom: 20px;
        transform: translate(-50%, 0%);
    }
    80% {
        bottom: 20px;
        transform: translate(-50%, 0%);
    }
    100% {
        bottom: 0;
        transform: translate(-50%, 100%);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


.full_width {
    width: 100%!important;
}


input[type=text] {
    background-color: var(--dark-theme-background-color);
    color: var(--dark-theme-text-color);
    border: 1px solid var(--dark-theme-divider-color);
    border-radius: 5px;
    padding: 5px;
}
.time_input {
    width: 40px;
    background-color: transparent!important;
    border: none!important;
    border-bottom: 1px solid white!important;
    border-radius: 0px!important;
    padding: 0!important;
}
/* This isn't working for some reason */
.time_input:focus {
    background-color: transparent!important;
    border: none!important;
    border-bottom: 1px solid var(--primary-color)!important;
    border-radius: 0px!important;
    padding: 0!important;
}
.wide_input {
    width: 100%;
}


/* Buttons */
.btn {
    background-color: var(--dark-theme-divider-color);
    color: var(--dark-theme-text-color);
    border: 1px solid var(--dark-theme-divider-color);
    display: flex;
    align-items: center;
}
.btn:hover {
    background-color: var(--dark-theme-disabled-color);
    color: var(--dark-theme-text-color);
    border: 1px solid var(--dark-theme-divider-color);
}
.btn div {
    margin: 0 10px;
}
.icon {
    width: 20px;
    height: 20px;
    fill: var(--dark-theme-text-color);
}
.clickable_icon {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.clickable_icon.wide {
    /* padding: 10px; */
    width: 40px;
    height: 40px;
}
.clickable_icon:hover {
    /* filter: brightness(0.5); */
    opacity: 1;
}
.rounded {
    border-radius: 5rem;
}
/* Search bar */
#search_bar {
    display: flex;
    width: 45vw;
}
#search-input {
    flex: 1;
    height:40px;
    line-height:40px;
    padding:0 20px;
}
#search-btn {
    width: 50px;
}
.form-control {
    background-color: var(--dark-theme-background-color);
    color: var(--dark-theme-secondary-color);
    border: 1px solid var(--dark-theme-divider-color);
}
.form-control:focus {
    background-color: var(--dark-theme-background-color);
    color: var(--dark-theme-text-color);
    border: 1px solid var(--primary-color);
    box-shadow: none;
    outline: none;
}
/* Search input cross icon */
.form-control::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23fff'%3E%3Cpath d='M19.78 18.36l-5.79-5.79 5.79-5.79c.39-.39.39-1.02 0-1.41l-.01-.01a.996.996 0 0 0-1.41 0l-5.79 5.79-5.79-5.79a.996.996 0 0 0-1.41 0l-.01.01c-.39.39-.39 1.02 0 1.41l5.79 5.79-5.79 5.79c-.39.39-.39 1.02 0 1.41l.01.01c.39.39 1.02.39 1.41 0l5.79-5.79 5.79 5.79c.39.39 1.02.39 1.41 0l.01-.01c.39-.39.39-1.02 0-1.41z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    opacity: 0.5;
}
.form-control:focus::-webkit-search-cancel-button {
    opacity: 1;
}
#search_open_btn, 
#search_close_btn {
    display: none;
}
/* Responsive: under 600px width the search bar should disappear */
@media screen and (max-width: 600px) {
    #search_bar {
        display: none;
    }
    #search_open_btn {
        display: flex;
    }
    #navbar[data-mode=search] #logo_text, 
    #navbar[data-mode=search] #search_open_btn, 
    #navbar[data-mode=search] #tip_btn {
        display: none;
    }
    #navbar[data-mode=search] #search_close_btn {
        display: flex;
    } 
    #navbar[data-mode=search] #search_bar {
        display: flex;
        flex: 1;
    }
}


.clickable_icon {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 100%;
  }
  .clickable_icon.clicked {
    animation: whitePulse 250ms ease-in-out;
  }
  
  @keyframes whitePulse {
    0% {
      background-color: rgba(255, 255, 255, 0);
    }
    50% {
      background-color: rgba(255, 255, 255, 0.3);
    }
    100% {
      background-color: rgba(255, 255, 255, 0);
    }
  }



/* Bootstrap stuff */
.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.input-group-append, .input-group-prepend {
    display: -ms-flexbox;
    display: flex;
    margin-left: -1px;
    margin-right: -1px;
}
.form-control {
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
}
.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


img {
    vertical-align: middle;
    border-style: none;
}
svg {
    /* overflow: hidden; */
    vertical-align: middle;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
}

a {
    /* text-decoration: none; */
    background-color: transparent;
}

.btn {
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    /* border-radius: 0.25rem; */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.75rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.25rem;
}
h6 {
    font-size: 1rem;
}
