
.vid_tile {
    cursor: pointer;
}
.rec_vid {
    display: flex;
    flex-direction: row;
    transition: transform 0.2s ease-in-out;
}
.rec_thumb_div_container {
    padding: 5px;
}
.rec_thumb_div {
    position: relative;
}
.rec_duration {
    font-size: 0.8em;
    position: absolute;
    bottom: 4px;
    right: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 0 2px;
    border-radius: 5px;
}
.rec_thumb_img {
    /* Crop to 16:9 aspect ratio */
    width: 160px;
    aspect-ratio: 16/9;
    height: unset;
    border-radius: 10px;

    /* Make image fill the div */
    object-fit: cover;
}
.rec_metadata {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    margin-top: 5px;
}
.rec_title {
    margin: 0;
}
.rec_channel {
    margin: 0;
    /* Smaller font, secondary color */
    font-size: 0.8em;
    color: var(--dark-theme-secondary-color);
    text-wrap: nowrap;
}
.rec_views-date {
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    color: var(--dark-theme-secondary-color)
}
.date-span:before {
    content: "•";
    margin: 0 4px;
}

.rec_play_btn {
    position: absolute;
    width: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.rec_vid:hover .rec_play_btn {
    opacity: .8;
}
.rec_vid:hover {
    transform: scale(0.98);
}
/* When clicked, make brighter */
.rec_vid:active {
    transform: scale(0.93);
}
