
/* Video Details */
#vid_title {
    margin: 0.5em 0;
}
#engagement_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}
#vid_download_btn {
    padding: 0.5em 1em;
}
#description_div {
    background-color: var(--dark-theme-divider-color);
    border-radius: 15px;
    padding: 0.7em;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    overflow: auto;
}
#vid_views-date {
    display: flex;
    flex-direction: row;
    /* Gap between views and date */
    gap: 1em;
    font-weight: 600;
}

/* Channel Details */
.channel_icon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
}
#vid_channel_name {
    cursor: pointer;
    margin-bottom: 0.2em;
}


/* Video */
video {
    width: 100%;
}

/* Grid columns */
.grid-container {
    display: grid;
    grid-template-columns: 65% auto;
}
.vid_player_container {
    display: flex;
    width: 100%;
    aspect-ratio: 16 / 9;
    padding: 0;
}
body[data-mobile=true][data-landscape=true] .vid_player_container {
    aspect-ratio: unset;
    background-color: black;
}
body[data-mobile=false] .vid_player_container {
    padding: 20px 20px 0 20px;
}
.below_video {
    /* order of padding is top, right, bottom, left */
    padding: 0 20px 20px 20px;
}
.right-column {
    padding-top: 20px;
}
/* Responsive */
@media screen and (max-width: 1000px) {
    .grid-container {
        grid-template-columns: 100%;
    }
    .right-column {
        padding: 0 20px 20px 20px;
    }
}


#watch_overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    z-index: 100;
    overflow-y: scroll;
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
#watch_overlay.dragging {
    transition: none;
    overflow: hidden;
}
body.watch #watch_overlay {
    opacity: 1;
    visibility: visible;
}
body.watch:not(.pip) #watch_overlay {
    top: 0;
}
body.watch:not(.pip) {
    overflow: hidden;
}

/* Miniplayer (Picture in Picture) */
body.pip #watch_overlay {
    top: 100vh;
    /* We don't want to hide overflow because miniplayer will be outside the bounds */
    overflow: visible;
}




/* HIDDEN TEMPORARILY */
#vid_channel_icon {
    display: none;
}
.timeline .preview-img {
    display: none!important;
}
